Django>=3.0,<4.0
mongoengine
django-allauth==0.43.0
django-bootstrap4
djangorestframework>=3.1, <4.0
django-rest-framework-mongoengine>=3.4.1, <4.0
blinker>=1.4, <2.0
djangorestframework-simplejwt>=4.6, <5.0
django-cors-headers>=3.7, <4.0
gunicorn
# psycopg2-binary>=2.8