{% extends 'base.html' %}
{% load static %} 

{% load i18n %}

{% block contenido %}

    <div class="mb-3">
      <form method="post" action="{% url 'buscar' %}">{% csrf_token %}
        <label for="exampleFormControlInput" class="form-label">{% trans 'Search' %}</label>
        <input name="busqueda" type="text" class="form-control" id="exampleFormControlInput" placeholder="Ej: Ruta en Granada">
      </form>
    </div>
    <br>

    <div class="grid-container">
      {% for excur in excursiones %}
      <div class="grid-item">
          <div class="card" style="width: 18rem;">
            <img src="{% static excur.foto %}"  class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ excur.nombre }}</h5>
              <p class="card-text">{{ excur.descripción }}</p>
              <h6>Tags</h6> 
              <div>
                {% for tag in excur.tags %}
                  {{ tag }}
                {% endfor %}
              </div>
              <form action="{% url 'info' excur.id %}" method='get'>
                <button class="btn btn-primary">{% trans 'More info' %}</button>
              </form>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    {% if user.is_staff %}
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-warning" data-bs-toggle="modal"
      data-bs-target="#exampleModal" style="width:10%; margin-top: 2%">{% trans 'Add' %}</button>
    </div>
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" style="margin-top: 5%;" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <form action="{% url 'añadir' %}" method="post" enctype="multipart/form-data">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{% trans 'New path' %}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {% csrf_token %}
            <table>
              {{ form.as_table }}
            </table>
            <div class="modal-footer">
              <button type="submit" class="btn btn-warning">{% trans 'Add' %}</button>
            </div>
          </div>
        </div>
      </div>
      </form>
    </div>


{% endblock %}
